Repository paradus-hex/ticket-tracker-2.0: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, eslint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --write",
    "eslint"
  ],
  "*.tsx": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.html": [
    "eslint",
    "prettier --write"
  ],
  "*.scss": "prettier --write"
}

removed pre commit hook
  .husky/pre-commit
  package.json
Due: none

removed pre commit hook
  package.json
Due: none

comp fix
  .vscode/settings.json
  src/pages/components/ScrollableStack.tsx
Due: prettier --write, eslint --fix

comp fix
  src/pages/components/Sidebar.tsx
Due: prettier --write, eslint --fix

protected routes
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  src/pages/components/AuthShowcase.tsx
  src/pages/dashboard.tsx
  src/utils/auth.ts
Due: prettier --write, eslint, eslint --fix

projects table v1
  .lintstagedrc.json
  package-lock.json
  package.json
  src/pages/components/Layout.tsx
  src/pages/components/models/projects/ProjectsTable.tsx
  src/pages/projects.tsx
Due: prettier --write, eslint --fix

added layout
  src/pages/components/ProtectedLayout.tsx
  src/pages/dashboard.tsx
  src/pages/projects.tsx
Due: prettier --write, eslint --fix

users table
  src/pages/components/models/users/UsersTable.tsx
Due: prettier --write, eslint --fix

tested mvc structure
  src/pages/dashboard.tsx
  src/server/api/controllers/example.ts
  src/server/api/models/user.model.ts
  src/server/api/root.ts
Due: prettier --write, eslint, eslint --fix

sidebar improvements
  src/pages/components/Sidebar.tsx
Due: prettier --write, eslint --fix

updated table for projects and users
  src/pages/components/models/projects/ProjectsTable.tsx
  src/pages/components/models/users/UsersTable.tsx
  src/pages/users.tsx
Due: prettier --write, eslint --fix

fixed layout
  src/pages/components/ProtectedLayout.tsx
Due: prettier --write, eslint --fix

schema changed
  prisma/schema.prisma
Due: none

upated prisma
  package-lock.json
  package.json
Due: none

first trpc call
  .vscode/settings.json
  src/pages/components/models/projects/ProjectsTable.tsx
  src/pages/dashboard.tsx
  src/server/api/controllers/example.ts
  src/server/api/controllers/projects.controller.ts
  src/server/api/models/projects.model.ts
  src/server/api/models/user.model.ts
  src/server/api/root.ts
  src/utils/types.ts
Due: prettier --write, eslint, eslint --fix

api for getting users and projects
  src/pages/components/models/projects/ProjectsTable.tsx
  src/pages/components/models/users/UsersTable.tsx
  src/server/api/controllers/example.ts
  src/server/api/controllers/project.controller.ts
  src/server/api/controllers/projects.controller.ts
  src/server/api/controllers/user.controller.ts
  src/server/api/models/project.model.ts
  src/server/api/models/projects.model.ts
  src/server/api/models/user.model.ts
  src/server/api/root.ts
Due: prettier --write, eslint, eslint --fix

updated user table
  src/pages/components/models/users/UsersTable.tsx
  src/pages/dashboard.tsx
Due: prettier --write, eslint --fix

create project form
  src/pages/components/models/projects/ProjectsTable.tsx
  src/pages/create-project.tsx
  src/server/api/controllers/project.controller.ts
  src/server/api/models/project.model.ts
Due: prettier --write, eslint, eslint --fix

create projects
  .eslintrc.cjs
  src/pages/create-project.tsx
  src/server/api/controllers/project.controller.ts
Due: prettier --write, eslint, eslint --fix

delete project
  src/pages/components/models/projects/ProjectsTable.tsx
  src/server/api/controllers/project.controller.ts
Due: prettier --write, eslint, eslint --fix

be for project update
  src/server/api/controllers/project.controller.ts
Due: prettier --write, eslint

crud for projects added
  src/pages/components/models/projects/ProjectsTable.tsx
Due: prettier --write, eslint --fix

user schema updated
  prisma/schema.prisma
  src/pages/components/models/users/UsersTable.tsx
Due: prettier --write, eslint --fix

role system
  src/pages/components/models/users/UsersTable.tsx
  src/server/api/controllers/user.controller.ts
Due: prettier --write, eslint, eslint --fix

user profile
  package-lock.json
  package.json
  src/pages/components/models/users/UserCard.tsx
  src/pages/components/models/users/UsersTable.tsx
  src/pages/users/[id].tsx
  src/pages/users/index.tsx
  src/server/api/controllers/user.controller.ts
Due: prettier --write, eslint, eslint --fix

dashboard improvement
  src/pages/components/AuthShowcase.tsx
  src/pages/dashboard.tsx
  src/pages/users/[id].tsx
  src/server/auth.ts
Due: prettier --write, eslint, eslint --fix

user table view updated
  src/pages/components/models/projects/ProjectsTable.tsx
  src/pages/components/models/users/UsersTable.tsx
Due: prettier --write, eslint --fix

models for projects
  .prettierrc.js
  src/server/api/controllers/project.controller.ts
  src/server/api/models/project.model.ts
Due: prettier --write, eslint

models for users
  src/server/api/controllers/user.controller.ts
  src/server/api/models/user.model.ts
Due: prettier --write, eslint

build fix
  src/pages/components/models/users/UserCard.tsx
Due: prettier --write, eslint --fix

..
  package-lock.json
  prisma/migrations/20240421001935_new/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none
